---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Authority",
    price: "$25,000",
    popular: false,
    features: [
      
      "150,000 Words", 
      "FREE Domain Name for 12 Months",
      "FREE Hosting for 12 Months",
      "FREE Enterprise CDN for 12 Months",
      "FREE SSL Certificate",
      "Competition Analysis",
      "Deep Niche Research",
      "Custom Design",
      "Perfect On-page SEO",
      "Fully Indexed",
      
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Essential",
    price:"$8,745",
    popular: true,
    features: [
  
      "50,000 Words", 
      "FREE Domain Name for 12 Months",
      "FREE Hosting for 6 Months",
      "FREE SSL Certificate",
      "Competition Analysis",
      "Niche Research",
      "Custom Design",
      "Perfect On-page SEO",
      "Fully Indexed",

    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Starter",
    price: "$4,999",
    popular: false,
    features: [
    
      "30,000 Words", 
      "FREE Domain Name for 12 Months",
      "FREE Hosting for 3 Months",
      "FREE SSL Certificate",
      "Niche Research",
      "Custom Design",
      "Perfect On-page SEO",
      "Fully Indexed",

    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable Pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
