---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Keyword Research",
    description:
      "Keyword Research Researching and deciding a niche is one of the biggest hurdle’s beginners face. There are literally hundreds of guides, each with different methods – information overload. Managing our own 6 figure portfolio, we know what niches are profitable and which to avoid! ",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Keyword Selection",
    description:
      "Keyword selection is hard and time consuming (when done right). It can take hours to dig out all the relevant variations, and even longer to organise them into a coherent plan.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Content Creation",
    description:
      " We know that content is usually the bottleneck to rapid growth – that’s why our sites come with a minimum of 30,000 words and we offer monthly content packages to ensure that your site scales.",
    icon: "bx:bxs-data",
  },
  {
    title: "Website Development",
    description:
      "Once we have the niche, full content plan and content, we get to work creating the site. We know that a good  website is more than just making content look good. It needs to be structured correctly and designed for conversions.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "On Going Support",
    description:
      "Once you purchase a site from us, we hand everything over to you – we know you are excited to get started. But we don’t leave you on your own. ",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why ‘Get It Done’ With Us?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
